*,
html {
    margin: 0;
    padding: 0;
}

.container {}

.container-navbar {
    background-color: #333;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover{
    background-color: rgb(0, 166, 255);
    transition: .3s ease-in-out;
    transition-delay: .2s;
    border-radius: 9px;
}

.a-navbar {
    color: rgb(0, 67, 148);
    text-decoration: none;
    font-weight: 600;
}

.container-content {
    background-color: rgb(26, 91, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: black;
    color: rgb(98, 168, 243);
    text-decoration: none;
    font-size: 30px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
}

.img-content {
    width: 65%;
    height: 65%;
}

.container-footer {
    height: 10vh;
    background-color:rgb(65, 137, 195);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 30px;
}